.holder{
width:100vw;
	height:100vh;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
flex-wrap:wrap;
}
.item{
	width:100px;
	height:100px;
}
#green{
	background-color:green;
}

#red{
	background-color:red;
}

#blue{
	background-color:blue;
}



